h1,
p {
  font-family: Lato;
}

body {
  background-color: rgb(237, 226, 248);
}

#editorDiv {
  max-width: 600px;
  margin: 1.125rem auto;
}

#editorDiv textarea {
  background-color: rgb(237, 226, 248);
  border: 1px solid purple;
  box-shadow: 1px 1px 10px 2px #85558b;
}
#editorLabel {
  background-color: rgb(151, 126, 175);
  box-shadow: 1px 1px 10px 2px #85558b;
  padding: 8px;
}

#editor {
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  /*resize textarea vertical*/
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
}

#wrapper {
  height: 100vh;
}

#previewDiv {
  background-color: rgb(237, 226, 248);
  border: 1px solid purple;
  box-shadow: 1px 1px 10px 2px #85558b;
  border-top: none;
  max-width: 800px;
  margin: 1.25rem auto;
  min-height: 200px;
  overflow-wrap: break-word;
}
#preview {
  border: 1px solid black;
  padding: 15px;
}

#preview pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}
#preview code {
  background-color: white;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}
#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  border: 2px solid #8756a3;
  padding-left: 5px;
  padding-right: 5px;
}

#preview blockquote {
  border-left: 3px solid #8756a3;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

.hide {
  display: none;
}

.open {
  width: 96%;
  min-height: 100vh;
  margin: auto;
}

.open #editor {
  min-height: 95vh;
  resize: none;
}

.maxIcon {
  float: right;
}

.maxIcon:hover {
  cursor: pointer;
  color: #dbcddd;
}
